.App {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  background: url(./assets/bg.jpg);
}

.button {
  text-decoration: none;
}
.button::-moz-focus-inner {
  border: 0;
}
.button {
  position: relative;
  width: 5.5rem;
  height: 5.5rem;
  margin: 1rem;
  border-radius: 50%;
}

.symbol::before,
.symbol::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  margin: auto;
  border-radius: 2px;
  content: "";
}
.symbol::before {
  width: 2rem;
  height: 0.3rem;
  background-color: #515676;
  transition: background-color 1s linear;
}
.plus .symbol::after {
  width: 0.3rem;
  height: 2rem;
  background-color: #515676;
}
.minus::before,
.minus::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  margin: auto;
  border-radius: 2px;
  content: "";
}
.minus::before {
  width: 2rem;
  height: 0.3rem;
  background-color: #515676;
  transition: background-color 1s linear;
}

#counter {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#counter-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
